@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #0b0b0b;
  }
  
  h2 {
    @apply text-xl md:text-4xl
  }
  
  p {
    @apply text-xl tracking-tight leading-relaxed
  }
  
  span {
    @apply text-cyan-500;
  }
  
  
  .shiny-effect {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    background: radial-gradient(circle,rgba(0, 216, 224, 0.2) , transparent 70%);
  }
  
  .bg-primary-color {
    @apply text-cyan-900;
  }


  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* As partículas ficam atrás de todo o conteúdo */
  }
  